@import 'reset.css';

.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

html,
body {
  height: 100%;
}

h2 {
  color: black;
  display: flex;
  justify-content: center;
  position: relative;
  top: 140px;
  font-size: 10em;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.login {
  display: flex;
  justify-content: center;
  position: relative;
  top: 220px;
  height: 40px;
}

.inp {
  border-radius: 8px;
  margin: 0px 10px;
}

h1 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 220px;
  color: black;
  font-weight: bold;
  font-size: 3em;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.inputGoal {
  width: 300px;
}

.goal {
  color: black;
  display: flex;
  justify-content: center;
  position: relative;
  top: 280px;
  height: 30px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

ul {
  position: relative;
  text-align: center;
  top: 300px;
  color: black;
  font-size: 2em;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
